In [77]:
import pandas as pd

In [78]:
# List of file paths for your 9 CSV files
file_paths = ['Sales_April_2019.csv', 'Sales_August_2019.csv', 'Sales_December_2019.csv', 'Sales_February_2019.csv', 
              'Sales_January_2019.csv', 'Sales_July_2019.csv', 'Sales_June_2019.csv', 'Sales_March_2019.csv', 'Sales_May_2019.csv', 'Sales_November_2019.csv',
              'Sales_October_2019.csv', 'Sales_September_2019.csv']

# Initialize an empty DataFrame to hold the merged data
merged_data = pd.DataFrame()

# Loop through each file and read its data into a DataFrame, then concatenate to the merged_data
for file_path in file_paths:
    df = pd.read_csv(file_path)
    merged_data = pd.concat([merged_data, df], ignore_index=True)

# Write the merged data to a new CSV file
merged_data.to_csv('merged_data.csv', index=False)

print("Merged data saved to merged_data.csv")

Merged data saved to merged_data.csv

In [79]:
sales = pd.read_csv('merged_data.csv')
sales.sort_values('Order Date', inplace=True)
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
73891,147268,Wired Headphones,1,11.99,01/01/19 03:07,"9 Lake St, New York City, NY 10001"
74701,148041,USB-C Charging Cable,1,11.95,01/01/19 03:40,"760 Church St, San Francisco, CA 94016"
76054,149343,Apple Airpods Headphones,1,150,01/01/19 04:56,"735 5th St, New York City, NY 10001"
76708,149964,AAA Batteries (4-pack),1,2.99,01/01/19 05:53,"75 Jackson St, Dallas, TX 75001"
76061,149350,USB-C Charging Cable,2,11.95,01/01/19 06:03,"943 2nd St, Atlanta, GA 30301"

In [80]:
sales['Month'] = sales['Order Date'].str[:2]
sales['Day'] = sales['Order Date'].str[3:5]
sales['Year'] = sales['Order Date'].str[6:8]
sales['Time'] = sales['Order Date'].str[9:14]
sales = sales.drop('Order Date', axis=1)
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Month,Day,Year,Time
73891,147268,Wired Headphones,1,11.99,"9 Lake St, New York City, NY 10001",01,01,19,03:07
74701,148041,USB-C Charging Cable,1,11.95,"760 Church St, San Francisco, CA 94016",01,01,19,03:40
76054,149343,Apple Airpods Headphones,1,150,"735 5th St, New York City, NY 10001",01,01,19,04:56
76708,149964,AAA Batteries (4-pack),1,2.99,"75 Jackson St, Dallas, TX 75001",01,01,19,05:53
76061,149350,USB-C Charging Cable,2,11.95,"943 2nd St, Atlanta, GA 30301",01,01,19,06:03

In [81]:
sales.shape

(186850, 9)

In [82]:
sales.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Purchase Address    545
Month               545
Day                 545
Year                545
Time                545
dtype: int64

In [83]:
sales=sales.dropna()

In [84]:
sales.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Purchase Address    0
Month               0
Day                 0
Year                0
Time                0
dtype: int64

In [85]:
sales = sales.drop_duplicates()
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Month,Day,Year,Time
73891,147268,Wired Headphones,1,11.99,"9 Lake St, New York City, NY 10001",01,01,19,03:07
74701,148041,USB-C Charging Cable,1,11.95,"760 Church St, San Francisco, CA 94016",01,01,19,03:40
76054,149343,Apple Airpods Headphones,1,150,"735 5th St, New York City, NY 10001",01,01,19,04:56
76708,149964,AAA Batteries (4-pack),1,2.99,"75 Jackson St, Dallas, TX 75001",01,01,19,05:53
76061,149350,USB-C Charging Cable,2,11.95,"943 2nd St, Atlanta, GA 30301",01,01,19,06:03

In [86]:
sales.to_csv('final_data.csv')